---
layout: default
title: Pregações
permalink: /pregacoes
---

{%  include navbar.html is_dark=true %}

<section class="section">
    <div class="container text-center">
        <h2>OUÇA A PALAVRA DE DEUS</h2>
        <div class="row center-xs ">
            {% for video in site.data.videos %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="video">
                    <iframe class="img-responsive" src="{{ video.link }}?showinfo=0" allowfullscreen frameborder="0" height="250" width="100%"></iframe>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>