<footer class="footer">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <nav class="social-networks mb-5">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/avivahchurch/">
                                    <i class="fa fa-instagram fa-fw"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/avivahchurch/">
                                    <i class="fa fa-facebook-official fa-fw"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h4>Endereço</h4>
                    <p>Rua Prefeito Olivio de Matos - 546 - Bairro Fragoso<br>Piabetá, Rio De Janeiro. </p>
                    <p>CEP: 25903-587</p>
                </div>
            </div>
            <!-- <div>
                <p>&copy; <script>document.write((new Date).getFullYear())</script> - {{ site.title }} </p>
            </div> -->
        </div>
    </div>
</footer>