<footer class="footer">
    <div class="section">
        <div class="container">
            <div class="row bottom-xs">
                <div class="col-xs-12 col-sm-6">
                    <nav class="social-networks">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/avivahchurch/">
                                    <i class="fa fa-instagram fa-fw"></i>
                                    @avivahchurch
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/avivahchurch/">
                                    <i class="fa fa-facebook-official fa-fw"></i>
                                    Avivah Church
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <p>
                        &copy; <script>document.write((new Date).getFullYear())</script> - {{ site.title }} </p>
                </div>
            </div>
        </div>
    </div>
</footer>