<header class="main-header {{ include.class }}" style='background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("{{ include.background_image }}")'>
    {% include navbar.html %}
    <div class="main-header-content">
        {% if include.logo %}
        <img class="logo" src="{{ include.logo }}" height="150">
        {% endif %}
        {% if include.title %}<h1>{{  include.title }}</h1>{% endif %}
        {% if include.subtitle %}
        <p>{{ include.subtitle }}</p>
        {% endif %}
        {% if include.description %}
        <div> {{ include.description }}</div>
        {% endif %}
    </div>
</header>