@keyframes enter-to-top {
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0);
    }
}


@keyframes text-color {
    to{
        text-shadow: 0 0 10px $color-pink, 0 0 20px $color-orange;
    }
}