@import "variables";

.blog-cover-image{
    background-position: center;
    background-size: cover;
    height: 400px;
    .blog-cover-overlay{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .7);
        color: $color-light;

        > h1 {
            text-shadow: 0 0 10px $color-pink, 0 0 20px $color-orange;
        }
    }
}


.blog-post{

    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 5px 5px $color-grey;
    line-height: 1.65;

    blockquote {
        background-color: lighten($color-pink, 50);
        border-left: 1rem solid $color-pink ;
        color: $color-grey;
        font-style:italic;
        line-height:1.4;
        margin: 1rem 3rem;
        padding: 1rem 2rem;
        position: relative;

        @media (max-width: $device-sm) {
            margin-left: 0;;
            margin-right: 0;
        }   
    }
}