@import "variables";

.container{
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;

    &.is-small{
        width: 600px;
    }
}

.section{
    padding: 4rem 2rem;

    &:nth-child(even) {
        background-color: $color-light;
    }
}


.img-responsive{
    max-width: 100%;
}

