// 

// aligns

@each $name in ("right", "left", "center", "justify")
{
    .text-#{$name}{
        text-align: #{$name};
    }
}

// globals

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.2rem;
}

@for $i from 1 through 6 {
    h#{$i}{
        margin: 0;
        margin-bottom: 10px;
    }
}


p{
    margin: 10px 0;
}



// containers

.container{
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;

    &.is-small{
        width: 600px;
    }
}


.section{
    padding: 3rem 2rem;
}
