@import "variables";
@import "animations";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


*, *::after, *::before{
    box-sizing: border-box;   
}

ul{
    padding: 0; 
    list-style: none;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

html{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

@import "typografy";

.main-header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;



    .nav-header{
        display: flex;
        justify-content: flex-end;
        ul{
            list-style: none;
            display: flex;
            
            > li {

                > a {
                    color: $color-light;
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                }
            }
        }
    }


    .main-header-content{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-light;
        text-align: center;
        animation: enter-to-top 1s ease forwards;
        padding: 0 1em;

        > p {
            font-size: 1.5rem;
            font-weight: lighter;
            margin: 0;
        }

        > h1{
            margin: 0;
        }
    }
}





.footer{
    background-color: $color-primary;
    color: $color-light;


    nav.social-networks{

        ul > li > a {
            padding: 0.5rem 0;
            display: inline-flex;
            align-items: center;

            .fa{
                font-size: 1.5rem;
            }
        }
    }
}

