@import "variables";
@import "animations";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


*, *::after, *::before{
    box-sizing: border-box;   
}

ul{
    padding: 0; 
    list-style: none;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

html{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

main{
    flex: 1;
}

.main-header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;

    .main-header-content{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-light;
        text-align: center;
        animation: enter-to-top 1s ease forwards;
        padding: 0 1em;
        

        > p {
            font-size: 1.5rem;
            font-weight: lighter;
            margin: 0;
            animation: text-color 6s ease infinite alternate;
        }

        > h1{
            margin: 0;
            animation: text-color 6s ease infinite alternate;
        }
    }
}

.nav-header{
    display: flex;
    justify-content: flex-end;

    &.is-dark{
        background-color: $color-primary;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        
        > li {

            > a {
                color: $color-light;
                display: block;
                padding: 15px;
                text-decoration: none;
                transition: all 500ms ease;

                &.is-active{
                    font-weight: bold;
                    color: $color-orange;
                }

                &:hover{
                    color: $color-pink;
                }
            }
        }
    }
}

.footer{
    background-color: $color-primary;
    color: $color-light;
    


    nav.social-networks{
        ul{
            display: flex;
        }

        ul > li > a {
            display: inline-flex;
            align-items: center;
            transition: all 500ms ease;

            &:hover{
                color: $color-pink;
            }

            .fa{
                font-size: 2rem;
            }
        }
    }
}

.video{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@import "margins";
@import "typografy";
@import "helpers";
@import "card-post";
