@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@import "resets";
@import "animations";
@import "margins";
@import "typografy";
@import "helpers";
@import "card-post";

html{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

main{
    flex: 1;
}

.main-header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;

    .main-header-content{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $color-light;
        text-align: center;
        animation: enter-to-top 1s ease forwards;
        padding: 0 1em;
        

        > p {
            font-size: 1.5rem;
            font-weight: lighter;
            margin: 0;
            animation: text-color 6s ease infinite alternate;
        }

        > h1{
            margin: 0;
            animation: text-color 6s ease infinite alternate;
        }
    }
}

.nav-header{
    
    display: flex;

    &.is-dark{
        background-color: $color-primary;
    }

    ul{
        list-style: none;
        display: flex;
        // justify-content: flex-end;

        // @media (max-width: $device-sm) {
        //     justify-content: center;
        // }
        
        > li {

            > a {
                color: $color-light;
                display: block;
                padding: 15px;
                text-decoration: none;
                transition: all 500ms ease;

                &.is-active{
                    font-weight: bold;
                    // color: $color-grey;
                }

                &:hover{
                    background-color: transparentize($color-light, 0.9);
                }
            }
        }
    }
}

.footer{

    .social-networks{
        background-color: $color-light;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            margin: 0 auto;
            max-width: 100%;
        }

        ul > li > a {
            color: $color-grey;
            display: inline-flex;
            align-items: center;
            transition: all 500ms ease;

            &:hover{
                color: $color-pink;
                transform: scale(1.1);
            }

            .fa{
                font-size: 3rem;
            }
        }
    }

    .contacts{
        background-color: darken($color-light, 10);
        color: $color-grey;
        h4{
            margin-bottom: 1.5rem;
        }
    }

    .copyright{
        background-color: $color-primary;
        color: $color-light;
    }
}

.video{
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.about-text{
    line-height: 1.8;
    color: $color-dark-grey;
    text-align: justify;

    img{
        float: left; 
        height: 350px;
        margin-right: 1.5rem; 
        margin-bottom: 1rem;
        margin-top: .5rem;
    }
}



.carousel{

    height: 100vh;
    background-color: $color-light;
    overflow: hidden;
    position: relative;
    width: 100%;

    .carousel-control
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
        display: block;
        z-index: 5;
        // text-shadow: 0 0 10px $color-dark-grey;
        color: transparentize($color-orange, .5);

        &.right{
            right: 0;
        }
        
        &.left{
            left: 0;
        }
    }

    .carousel-wrapper{
        display: flex;
        height: 100%;
        transition: all 600ms ease;
        will-change: transform;
        position: relative;
        user-select: none;
    
        .carousel-item{
            flex: 0 0 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            min-height: 100%;
            // opacity: 0.3;
            transition: opacity 500ms ease;
    
            &:hover{
                opacity: 1;
            }
        }
    }
}
