<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body>
    <main>
        {%  include header.html 
            background_image=page.image
            title=page.title
            class="is-small"
        %}
        <section class="section">
            <div class="container">
                <article class="blog-post">
                    {{ content }}
                    <p>{{ page.author }}</p>
                </article>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>